body {
    background-color: #eff7f6;
}
#titulo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#descricao {
    font-family: 'Courier New', Courier, monospace;
}
.pDesc {
    color: #036666;
}
em {
    color: #023e8a;
}
.resiliencia {
    font-size: 18px;
}
.comunicacao {
    font-size: 16px;
}
.dedicacao {
    font-size: 16px;
}
.html {
    font-size: 16px;
}
.css {
    font-size: 16px;
}